---
layout: page
title: "일정"
icon: <i class="far fa-comments"></i><i class="far fa-calendar-check"></i>
permalink: /schedules/
---
<ul class="nav nav-fill">
  {% assign tracks = site.sessions | group_by: 'track' %}
  {% for track in tracks %}
  {% unless track.name contains "[" and "]" %}
  <li class="nav-item">
    <a class="nav-link active" data-toggle="collapse"
    href="#collapse_{{ forloop.index0 }}" aria-controls="collapse_{{ forloop.index0 }}"
    aria-expanded="false">
    {{ track.name }}</a>
  </li>
  {% endunless %}
  {% endfor %}
</ul>
<div id="tracks">
{% for track in tracks %}
<div id="collapse_{{ forloop.index0 }}"
class="collapse {% if forloop.first == true %}show{% endif %}" data-parent="#tracks">
  <div class="card-body">
    <h2>{{ track.name }}</h2>
    {% assign sessions = site.sessions | sort: 'order' %}
    {% for session in sessions %}
      {% if session.track contains track.name %}
      <div class="card" style="margin-bottom: 8px;">
        <div class="card-header">
          {{ session.time }}
        </div>
        <div class="card-body">
          <a href="{{ site.baseurl }}{{ session.url }}"><h5 class="card-title">{{ session.title }}</h5></a>
          <ul>
            {% for speaker in session.speakers %}
            <li>{{ speaker.name }} - {{ speaker.org }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}
</div>
