---
layout: page
title: "일정"
icon: <i class="far fa-comments"></i><i class="far fa-calendar-check"></i>
permalink: /schedules/
---
<div class="alert alert-info" role="alert">
  <ul>
    <li>추후 일정에 변동이 있을 수 있습니다. 자주 확인하셔서, 착오 없으시길 바랍니다. 감사합니다.</li>
    <li>세션 정보는 빠른 시일 내에, 순서 배치가 완료되는 데로 업데이트 될 예정입니다.</li>
  </ul>
</div>
<ul class="nav nav-fill">
  {% assign tracks = site.sessions | group_by: 'track' %}
  {% for track in tracks %}
  {% unless track.name contains "," %}
  <li class="nav-item">
    <a class="nav-link active" data-toggle="collapse"
    href="#collapse_{{ forloop.index0 }}" aria-controls="collapse_{{ forloop.index0 }}"
    aria-expanded="false">
    {{ track.name }}</a>
  </li>
  {% endunless %}
  {% endfor %}
</ul>
<div id="tracks">
{% for track in tracks %}
{% unless track.name contains "," %}
<div id="collapse_{{ forloop.index0 }}"
class="collapse {% if forloop.index0 == 1 %}show{% endif %}" data-parent="#tracks">
  <div class="card-body">
    <h2>{{ track.name }}</h2>
    {% assign sessions = site.sessions | sort: 'order' %}
    {% for session in sessions %}
      {% if session.track contains track.name %}
      <div class="card" style="margin-bottom: 8px;">
        <div class="card-header">
          {{ session.time }}
        </div>
        <div class="card-body">
          <a href="{{ site.baseurl }}{{ session.url }}"><h5 class="card-title">{{ session.title }}</h5></a>
          <ul>
            {% for speaker in session.speakers %}
            <li>{{ speaker.name }} - {{ speaker.org }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endunless %}
{% endfor %}
</div>
