---
layout: page
title: "일정"
icon: <i class="far fa-comments"></i><i class="far fa-calendar-check"></i>
permalink: /schedules/
---
<div class="alert alert-info" role="alert">
  (발표 제목을 클릭하여 발표 자료 관련 내용을 확인하실 수 있습니다.)
</div>
<div style="overflow: auto;" align="center">
<div class="program">
    <table cellspacing="0" cellpadding="0" border="2">
        <colgroup>
            <col width="80px ">
            <col width="170px">
            <col width="170px">
            <col width="170px">
            <col width="170px">
        </colgroup>
        <tbody>
        <tr>
            <th class="section">&nbsp;</th>
{% assign tracks = site.sessions | group_by: 'track' %}
{% for track in tracks %}
{% unless track.name contains "," %}
            <td class="section">{{ track.name }}</td>
{% endunless %}
{% endfor %}
        </tr>
{% assign sessions_grouped_unsorted = site.sessions | group_by: 'order' %}
{% assign sessions_grouped = sessions_grouped_unsorted | sort: 'name' %}
{% for session_group in sessions_grouped %}
{% unless session_group.items.size == 0 %}
      {% if session_group.items.size == 1 %}
        {% assign session = session_group.items[0] %}
        <tr>
            <th>{{ session.time }}</th>
            <td colspan="4">
                <a href="{{ site.baseurl }}{{ session.url }}">{{ session.title }}</a>
                <span class="fontNameTitle">
                    {% for speaker in session.speakers %}
                        <li style="list-style-type: none;">{{ speaker.name }} - {{ speaker.org }}</li>
                    {% endfor %}
                </span>
            </td>
        </tr>
      {% else %}
        {% assign sessionSorted = session_group.items | sort: 'track' %}
        <tr>
            <th>{{ sessionSorted[0].time }}</th>
        {% for session in sessionSorted %}
            <td>
                <a href="{{ site.baseurl }}{{ session.url }}">{{ session.title }}</a>
                <span class="fontNameTitle">
                    {% for speaker in session.speakers %}
                        <li style="list-style-type: none;">{{ speaker.name }} - {{ speaker.org }}</li>
                    {% endfor %}
                </span>
            </td>
        {% endfor %}
        </tr>
      {% endif %}
{% endunless %}
{% endfor %}
        </tbody>
    </table>
</div>
</div>
