<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container">

  <a class="navbar-brand" href="{{ site.baseurl }}/">MeltingCon 2018</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/about/">멜팅콘 소개 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/schedules/">일정</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/location/">위치 안내</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/registration/">참가 등록 안내</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/sponsors/">스폰서</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          문의
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ site.baseurl }}/contact/">문의처 정보</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/faq/">FAQ</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/{{site.github_username}}">GitHub</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
